<video playsinline="" autoplay="true" muted="" loop="">
    <source src="cover/VIDEO.mp4" type="video/mp4"> 
    <!--
    
    <source src="https://cdn.shopify.com/s/files/1/2974/4858/files/home-hero-mobile.mov?v=1637155649" type="video/mov">
        <source src="https://cdn.shopify.com/s/files/1/2974/4858/files/home-hero-mobile.webm?v=1637155649" type="video/webm">
    -->

    {{ $videoResource := resources.Get "cover/VIDEO.mp4" }}
    <source src="{{ $videoResource.Permalink }}" type="video/mp4">
</video>